div.solution-input {
    background: lightgray;
    font-family: monospace;
    padding-left: 10px;
    font-size: 25px;
}

div.problem-container {
    padding-bottom: 50px
}

a.problem-submission {
    margin-top: 10px
}

p.question-problem {
    font-size: 25px;
}

div.one-line-code-editor .CodeMirror{
    height: 80px !important;
    font-size: 30px;
    padding-top: 10px;
}

span.problem-text {
    font-family: 'monospace';
    letter-spacing: 0.1em;
}