div.solution-input {
    background: lightgray;
    font-family: monospace;
    padding-left: 10px;
    font-size: 25px;
}

div.problem-container {
    padding-bottom: 50px
}

a.problem-submission {
    margin-top: 10px
}

p.question-problem {
    font-size: 25px;
}

div.one-line-code-editor .CodeMirror{
    height: 60px !important;
    font-size: 30px;
}